* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #ebebeb;
  background: url('../img/wrapper1_bg.png') repeat center top transparent;
  color: #5d717e;
  font-size: 11px;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  height: 100%;
  left: 0px;
  text-align: center;
  top: 0px;
  width: 100%;
}

.page {
  border: 0px solid;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  min-width: 375px;
  max-width: 988px;
  text-align: left;
}

button {
  cursor: pointer;
}
