.container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row wrap;
  width: 100%;
}
.align_items_end {
  align-items: flex-end;
}
.align_content_start {
  align-content: flex-start;
}
.align_items_center {
  align-items: center;
}
.justify_content_center {
  justify-content: center;
}
.justify_content_space-between {
  justify-content: space-between;
}
.col {
  display: flex;
  flex: 1;
  height: 100%;
}
.col1 {
  width: 8.33333%;
}
.col2 {
  width: 16.66666667%;
}
.col3 {
  width: 25%;
}
.col4 {
  width: 33.33333333%;
}
.col5 {
  width: 41.66666667%;
}
.col6 {
  width: 50%;
}
.col7 {
  width: 58.33333333%;
}
.col8 {
  width: 66.66666667%;
}
.col9 {
  width: 75%;
}
.col10 {
  width: 83.33333333%;
}
.col11 {
  width: 91.66666667%;
}
.col12 {
  width: 100%;
}
.body_margin {
  width: 98%;
  margin-left: 1%;
  flex-flow: column wrap;
}
.marginLeft {
  margin-left: $m-size;
}
.marginBottom {
  margin-bottom: $m-size;
}
.marginTop {
  margin-top: $m-size;
}
.overflow {
  width: 100%;
}

@media (max-width: $desktop-breakpoint) {
  .lg {
    width: 100%;
  }

  .row.lg {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .margin_Top {
    margin-top: $m-size;
  }
}

.reacttable__wrapper {
  width: 100%;
}
.ReactTable {
  background: rgb(210, 223, 231);
}
