.footer {
    background-image: linear-gradient(rgb(80, 155, 191), rgb(76, 122, 152));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    flex: 0 0 auto;
    height: 72px;
    margin-bottom: 15px;
    margin-left: 7px;
    margin-right: 7px;
  }
  .footer__autodesk {
    float: right;
    margin-right: 18px;
    margin-top: 15px;
    width: 100%;
    a {
        float: right;
        width: 100%;
        img {
            float: right;
        }
    }
  }
  .footer__block {
    float: left;
    padding-top: 12px;
    padding-left: 20px;
    span.footer__divider {
        color: #ffffff;
        font: 14px 'Arial';
        margin-left: 33px;
        margin-right: 33px;
    }
    span.footer__divider-2 {
        color: #ffffff;
        font: 14px 'Arial';
        margin-left: 5px;
        margin-right: 5px;
    }
    li {
        display: inline;
        list-style-type: none;
        text-decoration: none;
        a {
            color: #ffffff;
            font: 13px 'Arial';
            text-transform: none;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    li.footer__first-item {
        border: none;
        padding-left: 0;
    }
    li.footer__last-item {
        color: #b6babd;
        font: 13px 'Arial';
        text-decoration: none;
        a {
            color: #ffffff;
            font: 13px 'Arial';
            text-transform: none;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        span.footer__website {
            color: #b6babd;
            text-transform: none;
            text-decoration: underline;
        }
        span.footer__website-design-by {
            text-decoration: none;
        }
        span.footer__company {
            color: #ffffff;
            text-transform: none;
            text-decoration: none;
        }
    }
  }