form.std {
  background-image: linear-gradient(#ebebeb, #d4d3d3);
  border: 1px solid #d0d1d5;
  h3 {
    color: #555;
    font-size: 1.4em;
    font-weight: normal;
    border-bottom: 1px solid #d0d1d5;
    padding: 0.5em;
    margin: 0 0 0.5em 0;
  }
  p {
    word-break: break-all;
  }
}

.form {
  width: 100%;
}
.form__h4 {
  padding: 0.3rem $m-size 0 $m-size;
}
.form__text {
  padding: 5px 0 5px 0;
}
.form__marginLeft {
  margin-left: $m-size;
}
.form__marginBottom {
  margin-bottom: $m-size;
}
.form__marginTop {
  margin-top: $m-size;
}
.form__submit {
  margin-right: 0;
  text-align: left;
}
.form__input {
  width: 100%;
  padding: 5px 0 5px 0;
}
.form__label {
  float: none;
  clear: both;
  display: block;
  text-align: left;
  width: 100%;
  font-weight: bold;
}

.form__labelHeader {
  font: 400 23px/25px 'Molengo';
  color: #497693;
  text-decoration: none;
}

.form_ul {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 5px;
  padding: 0;
}
.form_li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 5px 0 5px 0;
  width: 100%;
  .form_left {
    padding: 3px 0 3px 0;
    width: 25%;
    font-weight: bold;
  }
  .form_right {
    width: 75%;
    padding: 5px 0 5px 0;
  }
  .form__textarea {
    width: 75%;
    height: 100px;
    resize: vertical;
  }
}

.SingleDatePicker {
  height: 26px;
  border: 1px solid #000000;
}
.DateInput_input {
  height: 22px;
  width: 100%;
}
.DateInput_input {
  font-size: 12px !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $dark-blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $dark-blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.react-switch-bg {
  background-color: $dark-blue !important;
}
