form.std {
  background-image: linear-gradient(#ebebeb, #d4d3d3);
  border: 1px solid #d0d1d5;
  h3 {
    color: #555;
    font-size: 1.4em;
    font-weight: normal;
    border-bottom: 1px solid #d0d1d5;
    padding: 0.5em;
    margin: 0 0 0.5em 0;
  }
  p {
    word-break: break-all;
  }
}

.form {
  width: 100%;
}
.form__h4 {
  padding: 0.3rem $m-size 0 $m-size;
}
.form__text {
  padding: 5px 0 5px 0;
}
.form__marginLeft {
  margin-left: $m-size;
}
.form__marginBottom {
  margin-bottom: $m-size;
}
.form__marginTop {
  margin-top: $m-size;
}
.form__submit {
  margin-right: 0;
  text-align: left;
}
.form__input {
  width: 100%;
  padding: 5px 0 5px 0;
}
.form__label {
  float: none;
  clear: both;
  display: block;
  text-align: left;
  width: 100%;
  font-weight: bold;
}

.form__labelHeader {
  font: 400 23px/25px 'Molengo';
  color: #497693;
  text-decoration: none;
}

.form_ul {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 5px;
  padding: 0;
}
.form_li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 5px 0 5px 0;
  width: 100%;
  .form_left {
    padding: 3px 0 3px 0;
    width: 25%;
    font-weight: bold;
  }
  .form_right {
    width: 75%;
    padding: 5px 0 5px 0;
  }
  .form__textarea {
    width: 75%;
    height: 100px;
    resize: vertical;
  }
}
