.homefeatured {
  border: 1px solid #dddddd;
  margin: 0;
  width: 100%;
  display: block;
  text-align: center;
  h4 a {
    font: 23px/23px 'Molengo';
    color: #497693;
    text-decoration: none;
    text-transform: capitalize;
  }
}
