/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  padding: 0;
  margin: 0;
}

/* overall page layout */
body {
  background: #ebebeb;
  font-size: 11px;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  color: #5d717e;
  text-align: center;
  position: relative;
}
.wrapper_1 {
  background: url('../img/wrapper1_bg.png') repeat center top transparent;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
}
.page {
  overflow: hidden;
  border: 0px solid;
  width: 988px;
  margin: 0 auto;
  text-align: left;
}
.container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row wrap;
  justify-content: space-between;
}
.align_items_end {
  align-items: flex-end;
}
.align_content_start {
  align-content: flex-start;
}
.align_items_center {
  align-items: center;
}
.justify_content_center {
  justify-content: center;
}
.col {
  display: flex;
  flex: 1;
}
.col1 {
  display: flex;
  width: 8.33333%;
}
.col2 {
  display: flex;
  width: 16.66666667%;
}
.col3 {
  display: flex;
  width: 25%;
}
.col4 {
  display: flex;
  width: 33.33333333%;
}
.col5 {
  display: flex;
  width: 41.66666667%;
}
.col6 {
  display: flex;
  width: 50%;
}
.col7 {
  display: flex;
  width: 58.33333333%;
}
.col8 {
  display: flex;
  width: 66.66666667%;
}
.col9 {
  display: flex;
  width: 75%;
}
.col10 {
  display: flex;
  width: 83.33333333%;
}
.col11 {
  display: flex;
  width: 91.66666667%;
}
.col12 {
  display: flex;
  width: 100%;
}
.body_margin {
  margin-left: 20px;
  margin-right: 20px;
}

/* header */
.header {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 20px 7px 0px 7px;
}
.header_logo {
  margin: 20px 0px 20px 20px;
}

/* members area */
.header_account {
  border: 0px solid;
  color: #a1a4a7;
  font: 12px Verdana;
  margin: 20px;
  text-align: right;
  width: 100%;
}
.header_account ul {
  align-items: stretch;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 100%;
}
.header_account li {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
  padding-left: 20px;
}
.header_account li a {
  color: #1d2527;
  text-decoration: none;
}
.header_account li a:hover {
  text-decoration: underline;
}
.header_account li a.login {
  color: #a1a4a7;
  font: 400 13px/20px 'Open Sans';
  text-decoration: none;
  text-transform: none;
}
.header_account li a:hover.login {
  text-decoration: underline;
}
.header_account li a.my_account {
  color: #a1a4a7;
  font: 400 13px/20px 'Open Sans';
  text-decoration: none;
  text-transform: none;
}
.header_account li a:hover.my_account {
  cursor: pointer;
  text-decoration: underline;
}
/* members area */

/* header menu items */
.header_menu {
  border: 0px solid;
  width: 100%;
}
.header_menu ul {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
}
.header_menu li,
.header_menu .dropdown {
  height: 49px;
  padding: 0;
  border: 1px rgb(100, 155, 191);
  border-style: solid groove none solid;
  display: block;
  flex: 1;
  list-style-type: none;
}
.header_menu li a,
.header_menu .dropdown li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  text-decoration: none;
  font-size: 1.01rem;
  font-weight: 525;
  background-image: linear-gradient(rgb(100, 155, 191), rgb(76, 122, 152));
}
.header_menu li a:hover:not(.active) {
  background-image: linear-gradient(rgb(224, 228, 232), rgb(167, 170, 174));
}
.header_menu .active,
.header_menu .dropdown .active {
  color: rgb(76, 122, 152);
  background-image: linear-gradient(rgb(224, 228, 232), rgb(167, 170, 174));
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* end header menu items */
/* header end */

/* footer */
.footer {
  background-image: linear-gradient(rgb(80, 155, 191), rgb(76, 122, 152));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

  height: 78px;
  margin-bottom: 30px;
  margin-left: 7px;
  margin-right: 7px;
}
.footer_autodesk {
  width: 100%;
  margin-right: 18px;
  margin-top: 15px;
  float: right;
}
.footer_autodesk a {
  width: 100%;
  float: right;
}
.footer_autodesk a img {
  float: right;
}
.footer_block {
  float: left;
  padding-top: 12px;
  padding-left: 20px;
}
.footer_block span.divider {
  font: 14px 'Arial';
  color: #ffffff;
  margin-left: 33px;
  margin-right: 33px;
}
.footer_block span.divider_2 {
  font: 14px 'Arial';
  color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
}
.footer_block li {
  list-style-type: none;
  display: inline;
  text-decoration: none;
}
.footer_block li.first_item {
  padding-left: 0;
  border: none;
}
.footer_block li a {
  font: 13px 'Arial';
  color: #ffffff;
  text-transform: none;
  text-decoration: none;
}
.footer_block li a:hover {
  text-decoration: underline;
}
.footer_block li.last_item {
  font: 13px 'Arial';
  color: #b6babd;
  text-decoration: none;
}
.footer_block li.last_item a {
  font: 13px 'Arial';
  color: #ffffff;
  text-transform: none;
  text-decoration: none;
}
.footer_block li.last_item a:hover {
  text-decoration: underline;
}
.footer_block li.last_item span.website {
  color: #b6babd;
  text-transform: none;
  text-decoration: underline;
}
.footer_block li.last_item span.website_design_by {
  text-decoration: none;
}
.footer_block li.last_item span.company {
  color: #ffffff;
  text-transform: none;
  text-decoration: none;
}
/* footer end */

/* main */
.main {
  border: 0px solid;
}
.main .main_content {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin-left: 7px;
  margin-right: 7px;

  padding-bottom: 10px;
}

/* breadcrumb */
.breadcrumb {
  width: 100%;
  font: 14px/30px 'Open Sans';
  height: 31px;
  color: #497693;
  padding-left: 4px;
  text-transform: uppercase;
  text-align: right;
}
.breadcrumb .breadcrumb__navigation-pipe {
  padding: 0 0.6em;
  color: #c1c1c1;
}
.breadcrumb a {
  text-decoration: none;
  color: #c1c1c1;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
/* breadcrumb end */
/* main end */

form.std {
  background-image: linear-gradient(#ebebeb, #d4d3d3);
  border: 1px solid #d0d1d5;
}

form.std h3 {
  color: #555;
  font-size: 1.4em;
  font-weight: normal;
  border-bottom: 1px solid #d0d1d5;
  padding: 0.5em;
  margin: 0 0 0.5em 0;
}

input.button_large,
input.button_large_disabled,
a.button_large,
span.button_large {
  border: 0px solid;
  cursor: pointer;
  background-color: #0e0a0a;
  width: 180px;
  height: 23px;
  color: #ffffff !important;
  font: bold 12px/23px 'Arial';
  text-decoration: none;
  text-transform: none;
  margin-bottom: 10px;
}
input.button_large:hover,
input.button_large_disabled:hover,
a.button_large:hover,
span.button_large:hover {
  background-color: #4e4444;
}

.alert {
  background: var(--light-color);
  color: #333;
  opacity: 0.9;
  margin: 0.5rem 0 0 0 ;
  padding: 0.3rem;
  width: 100%;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}