.products {
  width: 100%;
  margin-bottom: 20px;
}
.products h1 {
  background: #ebebeb !important;
  font-weight: 400 !important;
  font-family: 'Open Sans' !important;
  font-size: 16px !important;
  line-height: 35px !important;
  height: 36px !important;
  text-transform: uppercase !important;
  color: #a1a4a7 !important;
  padding-left: 16px !important;
  margin: 0 !important;
}
.products h1 span {
  font: 13px 'Open Sans';
  color: #a1a4a7;
  text-transform: none;
  margin-left: 1.5em;
}

.product_list {
  width: 100%;
}

ul.product_list li {
  border: 1px solid #dddddd;
  background: none;
  min-height: 130px;
  height: auto;
  padding: 11px;
  margin-bottom: 11px;
  list-style-type: none;
}

ul.product_list li h3 a {
  font: 400 23px/25px 'Molengo';
  color: #497693;
  text-decoration: none;
}

ul.product_list li a {
  text-decoration: none;
  font: 400 15px/18px 'Molengo';
  color: #a1a4a7;
}

ul.product_list a.product_img_link img {
  border: 1px solid #dddddd;
  display: block;
  margin: 0 auto;
}

ul.product_list li h3 {
  margin: 0px;
  margin-top: 13px;
  margin-bottom: 15px;
  margin-left: 20px;
}

ul.product_list li p.product_desc {
  margin-bottom: 0;
  margin-left: 20px;
}
.product_buttons {
  width: 120px;
  height: 35px;
  margin-bottom: 5px;
  text-align: center;
  line-height: 35px;
  background-image: linear-gradient(rgb(100, 155, 191), rgb(76, 122, 152));
}
.product_buttons:hover {
  background-image: linear-gradient(rgb(224, 228, 232), rgb(167, 170, 174));
}
.product_buttons a.view_button {
  color: white;
}
.product_buttons a.view_button:hover {
  color: rgb(76, 122, 152);
}
